
.loginIn-screen {
    background-color: rgb(115, 206, 249);
    border-radius: 20px;
    box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.539);
    height: 550px;
    width: 300px;
    border: 5px solid rgba(255, 255, 255, 0.829);
    margin: 80px auto 0;
    position: relative;
}

#username, #password {
    background-color: rgb(213, 238, 249);
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    border: 2px solid white;
    text-align: center;
    width: 230px;
}


input:hover {
    background-color: rgb(163, 224, 250);
}

label {
    border: 2px solid rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: aqua;
    width: 230px;
    text-align: center;
}

button {
    display: block;
    margin: 0px auto;
    text-decoration: none;
    border: 3px solid rgb(151, 242, 237);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 150px;
  }
  
button:hover {
    background-color: rgb(163, 247, 244);
    color: rgb(5, 143, 132);
  }
p {
    margin-left: 10px;
}

.logedIn{
    display: block;
    width: 200px;
    margin: 0 auto;
   
}

.line  a {
  margin: 5px 30px;
  text-decoration: none;
  border: 3px solid rgb(151, 242, 237);
  border-radius: 10px;
  padding: 6px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 20px;

}

.line a:hover {
  background-color: rgb(163, 247, 244);
  color: rgb(5, 143, 132);
}
