
.post {
    border: 3px solid rgb(14, 198, 235);
    background-color: #8ae4f0;
    height: 125px;
    margin: 10px 10px 20px;
    border-radius: 20px;
    position: relative;
}

.postAvatar {
    border: 1px solid rgb(255, 255, 255);
    height: 60px;
    margin: 10px;
    width: 80px;
}

.postAvatar img {
    height: 60px;
    width: 80px;
}

.postUserName {
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(228, 254, 255);
}

.postDate {
    background-color: rgb(215, 255, 218);
    border: 2px solid rgb(236, 117, 117);
    height: 40px;
    width: 170px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.spanDate {
    display: block;
    margin: 10px;
}


.postContent {
    border: 1px solid rgb(255, 255, 255);
    height: 92px;
    width: 350px;
    position: absolute;
    left: 105px;
    top: 10px;
    padding: 5px;
    font-size: 8px;
    background-color: #d1faff;
    border-radius: 10px;
    overflow: auto;
}

.postLikes {
    border: 1px solid rgb(247, 175, 175);
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #f0fdff;
}