body {
  background-color: rgb(150, 212, 245);

}
h1 {
  font-size: 30px;
  color: rgb(29, 127, 214);
  text-align: center;
}

.navbar {
  background-color: transparent;
  display: flex;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
}

a {
  margin: 5px 30px;
  text-decoration: none;
  border: 3px solid rgb(151, 242, 237);
  border-radius: 10px;
  padding: 6px;
  background-color: rgb(255, 255, 255);
}

a:hover {
  background-color: rgb(163, 247, 244);
  color: rgb(5, 143, 132);
}

.loginIn-screen {
  background-color: rgb(115, 206, 249);
  border-radius: 20px;
  box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.539);
  height: 550px;
  width: 300px;
  border: 5px solid rgba(255, 255, 255, 0.829);
  margin: 80px auto 0;
  position: relative;
}


.postBoard {
  height: auto;
  width: 700px;
  background-color: #c2f9ff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 5px black;
  display: block;
  margin: 40px auto 0px;
  padding: 5px;
  
}

.postBtn {
  height: 40px;
  width: 130px;
  margin: 40px auto;
  background-color: #90ffc69b;
  border: 1px solid rgb(34, 148, 224);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.postBtn:hover {
  background-color: rgb(0, 117, 150);
  color: #fff;
}

button {
  display: block;
  margin: 0px auto;
  text-decoration: none;
  border: 3px solid rgb(151, 242, 237);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 150px;
}

button:hover {
  background-color: rgb(163, 247, 244);
  color: rgb(5, 143, 132);
}
p {
  margin-left: 10px;
}

.logedIn{
  display: block;
  width: 200px;
  margin: 0 auto;
 
}

.line a {
margin: 5px 30px;
text-decoration: none;
border: 3px solid rgb(151, 242, 237);
border-radius: 10px;
padding: 6px;
background-color: rgb(255, 255, 255);
position: absolute;
left: 0;
bottom: 20px;

}

.line a:hover {
background-color: rgb(163, 247, 244);
color: rgb(5, 143, 132);
}


/* LOG and OUT page */

.loginSign-screen {
  background-color: rgb(115, 206, 249);
  border-radius: 20px;
  box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.539);
  height: 450px;
  width: 300px;
  border: 5px solid rgba(255, 255, 255, 0.829);
  margin: 80px auto 0;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="email"], label {
  background-color: rgb(213, 238, 249);
  margin: 30px auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  width: 250px;
  outline: none;
  border: 1px solid #fff;
}

input[type="submit"] {
  width: 120px;
  height: 40px;
  padding: 5px;
}

input:hover {
  background-color: rgb(163, 224, 250);
}

#message {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  margin: 80px auto 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.616);
 
}


/* FOLLOW LIST */

ul {
  list-style: none;
}

.rec-list,
.follow-list {
  margin: 0;
}

.followList {
  background-color: rgb(220, 245, 255);
  margin: 30px auto;
  text-align: center;
  border-radius: 20px;
}

.followList ul li img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.followList ul li span {
  text-align: center;
  text-transform: capitalize;
  display: block;
  margin: 5px;
  font-weight: bold;
}

.btnFollow {
  background-color: rgb(196, 255, 197);
  color: black;
  border: 1px solid rgba(54, 134, 255, 0.491);
  width: 80px;
  height: 36px;
  font-size: 16px;
  margin-top: 0px;
}
.btnFollow:hover {
  background-color: rgb(143, 255, 145);
  color: black;
  outline: none;
}

.btnUnFollow {
  background-color: rgb(255, 200, 200);
  margin-top: 5px;
  border: 1px solid rgba(54, 134, 255, 0.491);
  width: 90px;
  height: 36px;
  font-size: 16px;
  margin-bottom: 10px;
}
.btnUnFollow:hover {
  background-color: rgb(255, 136, 136);
  color: black;
  outline: none;
}

.recDiv {
  height: auto;
  width: 180px;
  position: absolute;
  top: 170px;
  left: 90px;
  background-color: rgb(220, 245, 255);
  display: grid;
  border-radius: 20px;
}

.recDiv h2 {
  font-size: 20px;
}

.recDiv ul {
  padding: 0;

}
.recDiv ul li {
  border: 1px solid rgba(54, 134, 255, 0.491);
  margin: 0px auto 10px;
  width: 90%;
  border-radius: 20px;
  background-color: #90ffc69b;
}

.folowDiv {
  position: absolute;
  top: 170px;
  right: 90px;
  background-color: rgb(220, 245, 255);
  height: auto;
  width: 180px;
  display: grid;
  border-radius: 20px;
}

.folowDiv h2 {
  font-size: 20px;
}

.folowDiv ul {
  padding: 0;

}
.folowDiv ul li {
  border: 1px solid rgba(54, 134, 255, 0.491);
  margin: 0px auto 10px;
  width: 90%;
  border-radius: 20px;
  background-color: #90ffc69b;
}