.postBoard {
    height: auto;
    width: 700px;
    background-color: #c2f9ff;
    position: absolute;
    left: 40%;
    top: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 5px black;
}

.post {
    border: 3px solid rgb(122, 193, 207);
    height: 125px;
    margin: 10px 10px 20px;
    border-radius: 20px;
    position: relative;
}

.postAvatar {
    border: 1px solid rgb(255, 255, 255);
    height: 60px;
    margin: 10px;
    width: 80px;
}

.postAvatar img {
    height: 60px;
    width: 80px;
}

.postUserName {
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(228, 254, 255);
}

.postDate {
    border: 1px solid black;
    height: 50px;
    width: 170px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postContent {
    border: 1px solid rgb(255, 255, 255);
    height: 92px;
    width: 350px;
    position: absolute;
    left: 105px;
    top: 10px;
    padding: 5px;
    font-size: 8px;
    background-color: #d1faff;
    border-radius: 10px;
}

.postLikes {
    border: 1px solid rgb(247, 175, 175);
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f0fdff;
}

.postBtn {
    height: 30px;
    width: 100px;
    display: block;
    margin: 30px auto 5px;
    background-color: #d1faff;
    border: 1px solid rgb(34, 148, 224);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.postBtn:hover {
    background-color: rgb(145, 209, 251);
}
